{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <section class="hero-header section__header section__header--about">
        <h1>
            <span class="h1">#KnowUs</span></h1>
        <p class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </section>
    </header>
    <main>
        <section class="about">
            <div class="about__img"><img src="images/about/a6.jpg" alt=""></div>
            <div class="about__description">
                <h2 class="h2">Who we are?</h2>
                <p class="h3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis,
                    perferendis
                    quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                    tempore!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis,
                    perferendis
                    quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                    tempore!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis,
                    perferendis
                    quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                    tempore!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis,
                    perferendis
                    quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                    tempore!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis,
                    perferendis
                    quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                    tempore!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis,
                    perferendis
                    quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                    tempore!
                </p><br>
                <abbr title=""> Debitis error esse ex expedita minus, nam, optio porro possimus rerum, sunt tenetur vero
                    voluptatibus voluptatum. </abbr>
                <br><br>
                <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit
                    amet,
                    consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </marquee>
            </div>
        </section>
        <section class="app">
            <h2 class="h1">Download our <a href="">app</a></h2>
            <div class="video">
                <video autoplay muted loop src="images/about/1.mp4"></video>
            </div>
        </section>
        <section class="features">
            <div class="features__box">
                <ul class="features__list">
                    <li class="features__item">
                        <img src="./images/features/f1.png" alt="Free shipping">
                        <h4 class="h4 h4--pink">Free shipping</h4></li>
                    <li class="features__item">
                        <img src="./images/features/f2.png" alt="Online order">
                        <h4 class="h4 h4--green">Online order</h4></li>
                    <li class="features__item">
                        <img src="./images/features/f3.png" alt="Save money">
                        <h4 class="h4 h4--blue">Save money</h4></li>
                    <li class="features__item">
                        <img src="./images/features/f4.png" alt="Promotions">
                        <h4 class="h4 h4--violet">Promotions</h4></li>
                    <li class="features__item">
                        <img src="./images/features/f5.png" alt="Happy Sell">
                        <h4 class="h4 h4--peach">Happy Sell</h4></li>
                    <li class="features__item">
                        <img src="./images/features/f1.png" alt="F24/7 Support">
                        <h4 class="h4 h4--aqua">F24/7 Support</h4></li>


                </ul>
            </div>
        </section>
        <section class="newsletter">
            <div class="newsletter__header">
                <h4>Sign Up For Newletters</h4>
                <p>Get E-mail updates about our lastest shop and <span>special offers.</span></p>
            </div>
            <form action="" class="newsletter__form">
                <input type="text" class="newsletter__input" placeholder="Your email address">
                <input type="submit" class="newsletter__submit button" value="Sign up!">
            </form>
        </section>
    </main>
{% endblock %}
