{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <section class="hero-header section__header section__header--blog">
        <h1>
            <span class="h1">#redmore</span></h1>
        <p class="h4">Real all case studies about our products</p>
    </section>
    </header>

    <main>
        <section class="blog">
            <ul class="blog__list">
                <li class="blog__item">
                    <div class="blog__image">
                        <img src="images/blog/b1.jpg" alt="">
                        <span class="blog__date">13/01</span>
                    </div>
                    <div class="blog__details">
                        <h2 class="h2">The cotton jersey zip up hoodie</h2>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nobis, odit quas quidem repudiandae sint? Dolorem facilis quidem sit suscipit voluptas! Aperiam delectus dolores eveniet praesentium quos tempore ullam unde.</span><span>Amet dicta eligendi et fuga illo ipsa labore laboriosam maxime modi molestias natus nihil, numquam odio perferendis porro suscipit tenetur totam, voluptas! Ab, expedita fugit hic illo odit reiciendis voluptates!</span>
                        </p>
                        <a href="">CONTINUE READING </a>
                    </div>

                </li>
                <li class="blog__item">
                    <div class="blog__image">
                        <img src="images/blog/b2.jpg" alt="">
                        <span class="blog__date">13/01</span>
                    </div>
                    <div class="blog__details">
                        <h2 class="h2">The cotton jersey zip up hoodie</h2>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nobis, odit quas quidem repudiandae sint? Dolorem facilis quidem sit suscipit voluptas! Aperiam delectus dolores eveniet praesentium quos tempore ullam unde.</span><span>Amet dicta eligendi et fuga illo ipsa labore laboriosam maxime modi molestias natus nihil, numquam odio perferendis porro suscipit tenetur totam, voluptas! Ab, expedita fugit hic illo odit reiciendis voluptates!</span>
                        </p>
                        <a href="">CONTINUE READING </a>
                    </div>

                </li>
                <li class="blog__item">
                    <div class="blog__image">
                        <img src="images/blog/b3.jpg" alt="">
                        <span class="blog__date">13/01</span>
                    </div>
                    <div class="blog__details">
                        <h2 class="h2">The cotton jersey zip up hoodie</h2>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nobis, odit quas quidem repudiandae sint? Dolorem facilis quidem sit suscipit voluptas! Aperiam delectus dolores eveniet praesentium quos tempore ullam unde.</span><span>Amet dicta eligendi et fuga illo ipsa labore laboriosam maxime modi molestias natus nihil, numquam odio perferendis porro suscipit tenetur totam, voluptas! Ab, expedita fugit hic illo odit reiciendis voluptates!</span>
                        </p>
                        <a href="">CONTINUE READING </a>
                    </div>

                </li>
                <li class="blog__item">
                    <div class="blog__image">
                        <img src="images/blog/b4.jpg" alt="">
                        <span class="blog__date">13/01</span>
                    </div>
                    <div class="blog__details">
                        <h2 class="h2">The cotton jersey zip up hoodie</h2>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nobis, odit quas quidem repudiandae sint? Dolorem facilis quidem sit suscipit voluptas! Aperiam delectus dolores eveniet praesentium quos tempore ullam unde.</span><span>Amet dicta eligendi et fuga illo ipsa labore laboriosam maxime modi molestias natus nihil, numquam odio perferendis porro suscipit tenetur totam, voluptas! Ab, expedita fugit hic illo odit reiciendis voluptates!</span>
                        </p>
                        <a href="">CONTINUE READING </a>
                    </div>

                </li>
            </ul>
        </section>
        <section class="pagination">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href=""><i class="fa-solid fa-arrow-right-long"></i></a>
        </section>
        <section class="newsletter">
            <div class="newsletter__header">
                <h4>Sign Up For Newletters</h4>
                <p>Get E-mail updates about our lastest shop and <span>special offers.</span></p>
            </div>
            <form action="" class="newsletter__form">
                <input type="text" class="newsletter__input" placeholder="Your email address">
                <input type="submit" class="newsletter__submit button" value="Sign up!">
            </form>
        </section>
    </main>
{% endblock %}
