{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <section class="hero-header section__header section__header--blog">
        <h1>
            <span class="h1">#checkout</span></h1>
        <p class="h4">Real all case studies about our products</p>
    </section>
    </header>

    <main>
        <section class="personal">
            <div class="personal__form-wrapper">
                <form action="" id="shipping-info" class="personal__form">
                    <div id="personal__user-info" class="personal__user-info">
                        <div class="personal__form-field">
                            <input required class="personal__form-control" name="name"
                                   placeholder="Name" type="text">
                        </div>
                        <div class="personal__form-field">
                            <input required class="personal__form-control" name="email"
                                   placeholder="Email" type="text">
                        </div>
                    </div>
                    <hr>
                    <h3>Shipping Information:</h3>
                    <hr>
                    <div class="personal__shipping-info">
                        <div class="personal__form-field">
                            <input class="personal__form-control" name="address"
                                   placeholder="Address" type="text">
                        </div>
                        <div class="personal__form-field">
                            <input class="personal__form-control" name="city"
                                   placeholder="City" type="text">
                        </div>
                        <div class="personal__form-field">
                            <input class="personal__form-control" name="state"
                                   placeholder="State" type="text">
                        </div>
                        <div class="personal__form-field">
                            <input class="personal__form-control" name="zipcode"
                                   placeholder="Zipcode" type="text">
                        </div>
                        <div class="personal__form-field">
                            <input class="personal__form-control" name="country"
                                   placeholder="Country" type="text">
                        </div>
                    </div>
                    <input id="personal__button" class="button personal__button--success personal__button--block"
                           type="submit" value="Continue">
                </form>
                <br>
                <div class="personal__box-element hidden" id="payment-info">
                    <small>Payment Options</small><br><br>
                    <button class="button persona__payment-button" id="make-payment">Make a payment</button>
                </div>
            </div>
            <div class="summary">
                <a class="button button--summary" href="{% url 'cart' %}">&#x2190; Back to cart</a>
                <hr>
                <h3>Order summary</h3>
                <hr>
                {% for item in items %}
                    <div class="summary__cart-row">
                        <div><img src="{{ item.product.imageURL }}" alt="{{ item.product.name }}"></div>
                        <div><p>{{ item.product.name }}</p></div>
                        <div>${{ item.get_total|floatformat:2 }}</div>
                        <div>x{{ item.quantity }}</div>
                    </div>
                    <hr>
                {% endfor %}

                <div class="summary__total-info">
                    <h5>Items: {{ order.get_cart_items }}</h5><br>
                    <h5>Total: ${{ order.get_cart_total|floatformat:2 }}</h5>
                </div>
            </div>
        </section>
        <section class="newsletter">
            <div class="newsletter__header">
                <h4>Sign Up For Newletters</h4>
                <p>Get E-mail updates about our lastest shop and <span>special offers.</span></p>
            </div>
            <form action="" class="newsletter__form">
                <input type="text" class="newsletter__input" placeholder="Your email address">
                <input type="submit" class="newsletter__submit button" value="Sign up!">
            </form>
        </section>
    </main>

    <script type="text/javascript">

        let shipping = '{{ order.shipping }}'
        let total = '{{order.get_cart_total|floatformat:2  }}'

        if (shipping == 'False') {
            document.getElementsByClassName('personal__shipping-info').innerHTML = ''
        }

        if (user != 'AnonymousUser') {
            document.getElementById('personal__user-info').innerHTML = ''
        }
        if (shipping == 'False' && user != 'AnonymousUser') {
            document.getElementById('shipping-info').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        }


        let form = document.getElementById('shipping-info')

        form.addEventListener('submit', function (e) {
            e.preventDefault()
            console.log('Form submitted')
            document.getElementById('personal__button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click', function (e) {
            submitFormData()
        })

        function submitFormData() {
            console.log('Payment button clicked')
            let userFormData = {
                'name': null,
                'email': null,
                'total': total
            }
            let shippingInfo = {
                'address': null,
                'citi': null,
                'state': null,
                'zipcode': null,
                'country': null,
            }
            if (shipping != 'False') {
                shippingInfo.address = form.address.value
                shippingInfo.citi = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }
            if (user == 'AnonymousUser') {
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }
            console.log(userFormData)
            let url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo}),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    alert('Transaction completed');
                    window.location.href = "{% url 'store' %}"
                })
        }


    </script>
{% endblock %}
