{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    </header>
    <main>
        <section class="product">
            <div class="product__image_block">
                <img src="./images/products/f1.jpg" width="100%" id="MainImg" alt="">
                <ul class="product__image-list">
                    <li class="product__image-item"><img src="./images/products/f1.jpg" width="100%" class="small-img"
                                                         alt="">
                    </li>
                    <li class="product__image-item"><img src="./images/products/f2.jpg" width="100%" class="small-img"
                                                         alt="">
                    </li>
                    <li class="product__image-item"><img src="./images/products/f3.jpg" width="100%" class="small-img"
                                                         alt="">
                    </li>
                    <li class="product__image-item"><img src="./images/products/f4.jpg" width="100%" class="small-img"
                                                         alt="">
                    </li>
                </ul>
            </div>
            <div class="product__description-block">
                <div class="h3 product__breadcrumbs">Home/T-shirt</div>
                <h1 class="h2 product__header">Men's Fashion t Shirt</h1>
                <div class="h2 product__price">150$</div>
                <div class="product__size">
                    <select name="" id="">
                        <option value="">Select size</option>
                        <option value="">XL</option>
                        <option value="">XXL</option>
                        <option value="">Small</option>
                        <option value="">Large</option>
                    </select>
                </div>
                <div class="product__amount">
                    <input type="number" name="" id="" value="1">
                    <button class="button">Add to cart</button>
                </div>
                <div class="product__details">
                    <h3 class=" h3 product__details-header">Product details</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, distinctio harum ipsam itaque
                        minima neque quaerat velit. Cum deserunt, doloribus error, itaque odit repellat rerum, soluta
                        vero
                        voluptas voluptate voluptates.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto autem dolorum eius eos,
                        et
                        facilis, illum iure necessitatibus nihil numquam odio recusandae rerum sequi similique tempora,
                        temporibus vitae voluptas.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque eum fuga ipsum
                        minus,
                        nobis numquam pariatur perspiciatis, provident quisquam quos, rem reprehenderit voluptatum.
                        Doloremque laudantium modi quasi ullam veniam?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti mollitia quasi tempore
                        tenetur. Asperiores illum ipsa laboriosam maiores maxime, nam odit officia quaerat quam quis
                        repellat sint ut voluptate?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias blanditiis deleniti
                        deserunt dolorum esse harum hic modi molestias nam nemo quisquam ratione rerum, sunt tenetur
                        voluptas voluptate. Debitis, quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
                        autem impedit maiores molestiae nesciunt. Dolore eum exercitationem iste maxime nostrum optio
                        perspiciatis quae tempore totam velit! Blanditiis distinctio dolorem earum.</p>
                </div>


            </div>
        </section>
        <section class="catalog catalog__featured">
            <h2 class="catalog__title h2">Featured Products</h2>
            <p class="catalog__caption">Summer Collection New Moder Design</p>
            <ul class="catalog__list">
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f2.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>


                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f3.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f4.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>


                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f5.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>


            </ul>

        </section>
        <section class="newsletter">
            <div class="newsletter__header">
                <h4>Sign Up For Newletters</h4>
                <p>Get E-mail updates about our lastest shop and <span>special offers.</span></p>
            </div>
            <form action="" class="newsletter__form">
                <input type="text" class="newsletter__input" placeholder="Your email address">
                <input type="submit" class="newsletter__submit button" value="Sign up!">
            </form>
        </section>

    </main>

{% endblock %}
