{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <section class="hero-header">
        <h1><span class="h3">Trade-in-offer</span><br>
            <span class="h2">Super value deals</span><br><span class="h1">On all products</span>
        </h1>
        <p class="h4">Save more with coupons & up to 70% off!</p>
        <button class="hero__button">Shop Now!</button>
    </section>
    </header>

    <main>
        <section class="features">
            <div class="features__box">
                <ul class="features__list">
                    <li class="features__item">
                        <img src="{% static 'images/features/f1.png' %}"
                             alt="Free shipping">
                        <h4 class="h4 h4--pink">Free shipping</h4></li>
                    <li class="features__item">
                        <img src="{% static 'images/features/f2.png' %}"
                             alt="Online order">
                        <h4 class="h4 h4--green">Online order</h4></li>
                    <li class="features__item">
                        <img src="{% static 'images/features/f3.png' %}"
                             alt="Save money">
                        <h4 class="h4 h4--blue">Save money</h4></li>
                    <li class="features__item">
                        <img src="{% static 'images/features/f4.png' %}"
                             alt="Promotions">
                        <h4 class="h4 h4--violet">Promotions</h4></li>
                    <li class="features__item">
                        <img src="{% static 'images/features/f5.png' %}"
                             alt="Happy Sell">
                        <h4 class="h4 h4--peach">Happy Sell</h4></li>
                    <li class="features__item">
                        <img src="{% static 'images/features/f6.png' %}"
                             alt="F24/7 Support">
                        <h4 class="h4 h4--aqua">F24/7 Support</h4></li>


                </ul>
            </div>
        </section>
        <section class="catalog catalog__featured">
            <h2 class="catalog__title h2">Featured Products</h2>
            <p class="catalog__caption">Summer Collection New Moder Design</p>
            <ul class="catalog__list">
                <li class="catalog__item">
                    <img class="catalog__image"
                         src=" {% static '/images/products/f2.jpg' %}"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <button class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></button>
                </li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f3.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f4.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f5.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f1.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f6.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f7.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f8.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

        </section>
        <section class="banner">
            <h4 class="banner__header">Repair services</h4><br>
            <span class="banner__caption h1">Up to <span
                    class="banner__caption--red">70% off</span> - All t-shirts & Accessories</span>
            <a class="button banner__button" href="">Explore more</a>
        </section>
        <section class="catalog catalog__new-arrivals">
            <h2 class="catalog__title h2">New Arivals</h2>
            <p class="catalog__caption">Summer Collection New Moder Design</p>
            <ul class="catalog__list">
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n1.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n2.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f4.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a>


                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n3.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n4.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n5.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n6.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n7.jpg"
                         alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut
                            T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                            <li class="catalog__star"><i
                                    class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i
                            class="fa-solid fa-cart-shopping"></i></a></li>

            </ul>

        </section>
        <section class="promo-banners">
            <ul class="promo-banner__list">
                <li class="promo-banner__item promo-banner__item--deals">
                    <h4 class="promo-banner__item-header">Crazy deals</h4>
                    <p class="promo-banner__item-caption">buy 1 get 1 free <br>
                        <span>The best classic dress is on sale at cara</span>
                    </p>
                    <a href="" class="promo-banner_button button">Learn
                        more</a>
                </li>
                <li class="promo-banner__item promo-banner__item--collections">
                    <h4 class="promo-banner__item-header">Crazy deals</h4>
                    <p class="promo-banner__item-caption">spring/summer <br>
                        <span>The best classic dress is on sale at cara</span>
                    </p>
                    <a href=""
                       class="promo-banner_button button">Collection</a>
                </li>
            </ul>
            <ul class="promo-banner-small__list">
                <li class="promo-banner-small__item promo-banner-small__item--season">
                    <h4 class="promo-banner-small__item-header">SEASON
                        SALE</h4>
                    <p class="promo-banner-small__item-caption"> Winter
                        Collection -50% OFF
                    </p>
                </li>
                <li class="promo-banner-small__item promo-banner-small__item--winter">
                    <h4 class="promo-banner-small__item-header">SEASON
                        SALE</h4>
                    <p class="promo-banner-small__item-caption"> Winter
                        Collection -50% OFF
                    </p>
                </li>
                <li class="promo-banner-small__item promo-banner-small__item--t_shirts">
                    <h4 class="promo-banner-small__item-header">SEASON
                        SALE</h4>
                    <p class="promo-banner-small__item-caption"> Winter
                        Collection -50% OFF
                    </p>
                </li>
            </ul>

        </section>
        <section class="newsletter">
            <div class="newsletter__header">
                <h4>Sign Up For Newletters</h4>
                <p>Get E-mail updates about our lastest shop and <span>special offers.</span>
                </p>
            </div>
            <form action="" class="newsletter__form">
                <input type="text" class="newsletter__input"
                       placeholder="Your email address">
                <input type="submit" class="newsletter__submit button"
                       value="Sign up!">
            </form>
        </section>

    </main>
{% endblock %}
