{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <section class="hero-header section__header section__header--shop">
        <h1>
            <span class="h1">#stayhome</span></h1>
        <p class="h4">Save more with coupons & up to 70% off!</p>
    </section>
    </header>
    <main>

        <section class="catalog catalog__featured">
            <h2 class="catalog__title h2">Our Catalog</h2>
            <p class="catalog__caption">Summer Collection New Moder Design</p>
            <ul class="catalog__list">
                {% for product in products %}
                    <li class="catalog__item">
                        <img class="catalog__image" src="{{ product.imageURL }}" alt="Adidas">
                        <div class="catalog__item-description">
                            <span class="catalog__manufacturer">adidas</span><br>
                            <h4 class="catalog__item-title h4">{{ product.name }}</h4>
                            <ul class="catalog__stars">
                                <li class="catalog__star"><i class="fas fa-star"></i></li>
                                <li class="catalog__star"><i class="fas fa-star"></i></li>
                                <li class="catalog__star"><i class="fas fa-star"></i></li>
                                <li class="catalog__star"><i class="fas fa-star"></i></li>
                                <li class="catalog__star"><i class="fas fa-star"></i></li>
                            </ul>
                            <span class="catalog__price">${{ product.price |floatformat:2 }}</span>
                        </div>
                        <button data-product='{{ product.id }}' data-action="add"
                                class="catalog__cart-button update-cart" href="">
                            <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                    </li>
                {% endfor %}
            </ul>

        </section>
        <section class="pagination">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href=""><i class="fa-solid fa-arrow-right-long"></i></a>
        </section>
        <section class="newsletter">
            <div class="newsletter__header">
                <h4>Sign Up For Newletters</h4>
                <p>Get E-mail updates about our lastest shop and <span>special offers.</span></p>
            </div>
            <form action="" class="newsletter__form">
                <input type="text" class="newsletter__input" placeholder="Your email address">
                <input type="submit" class="newsletter__submit button" value="Sign up!">
            </form>
        </section>

    </main>
{% endblock %}
