{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <section class="hero-header section__header section__header--shop">
        <h1>
            <span class="h1">#stayhome</span></h1>
        <p class="h4">Save more with coupons & up to 70% off!</p>
    </section>
    </header>
    <main>

        <section class="catalog catalog__featured">
            <h2 class="catalog__title h2">Our Catalog</h2>
            <p class="catalog__caption">Summer Collection New Moder Design</p>
            <ul class="catalog__list">
                <li class="catalog__item" onclick="window.location.href='detail.html'">
                    <img class="catalog__image" src="./images/products/f2.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>


                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f3.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f4.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>


                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f5.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f1.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f6.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f7.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f8.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n1.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n2.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/f4.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>


                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n3.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n4.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n5.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n6.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="catalog__item">
                    <img class="catalog__image" src="./images/products/n7.jpg" alt="Adidas">
                    <div class="catalog__item-description">
                        <span class="catalog__manufacturer">adidas</span><br>
                        <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                        <ul class="catalog__stars">
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                            <li class="catalog__star"><i class="fas fa-star"></i></li>
                        </ul>
                        <span class="catalog__price">78$</span>
                    </div>
                    <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

        </section>
        <section class="pagination">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href=""><i class="fa-solid fa-arrow-right-long"></i></a>
        </section>
        <section class="newsletter">
            <div class="newsletter__header">
                <h4>Sign Up For Newletters</h4>
                <p>Get E-mail updates about our lastest shop and <span>special offers.</span></p>
            </div>
            <form action="" class="newsletter__form">
                <input type="text" class="newsletter__input" placeholder="Your email address">
                <input type="submit" class="newsletter__submit button" value="Sign up!">
            </form>
        </section>

    </main>
{% endblock %}
