@import "main.css";

//to % для построения резиновых конструкций
@function prc($pxOne,$pxtwo) {
  $result: ($pxOne/$pxTwo)*100;
  @return $result;
}

//to REM лучше использовать для шрифтов
@function rem($px) {
  $result: ($px/16)+rem;
  @return $result;
}

//to EM лучше для media Запросов
@function rem($px) {
  $result: ($px/16)+em;
  @return $result;
}

.smth {
  font-size: rem(42);
}

//EM – относительна размеру шрифта. Размер формируется относительно текущего или унаследованного размера шрифта (font-size).

//REM - относительна размеру шрифта браузера.Размер формируется относительно размера шрифта (font-size) в теге <html> или браузера по умолчанию.
//1rem равен значению font-size в теге <html> или браузера по умолчанию.
//Можно указывать дробные числа, например 1.5rem


//% - проценты от ...
//
//Относительная единица. Можно указывать дробные числа, например 10.5%. Разные CSS свойства вычисляют процент относительно разных значений:
//
//    Ширина width - относительно ширины родительного элемента
//    Высота height - относительно высоты родительного элемента, но только если у него задана высота либо это флекс или грид элемент.
