@import "reset.css";
@import "media.css";
* {
  font-family: "League Spartan", sans-serif;
}

body {
  width: 100%;
}

.h2, .h3, h4, h5, h6 {
  color: #222222;
  display: inline-block;
}

.h1 {
  font-size: 70px;
  line-height: 64px;
  font-weight: 600;
  color: #088178;
}

.h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
}

.button {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000000;
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

header {
  width: 100%;
}

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.main-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.main-menu-item {
  position: relative;
}

.main-menu-item a {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.main-menu-item a:hover, .main-menu-item a.active {
  color: #088178;
}

.main-menu-item a.active::after, .main-menu-item a:hover::after {
  content: "";
  width: 45%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  top: 18px;
  left: 0;
}

#mobile {
  display: none;
}

#close {
  display: none;
}

.hero-header {
  background-image: url("../images/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 22%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.h3 {
  padding-bottom: 10px;
}

.h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero__button {
  background-image: url("../images/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.features {
  margin-top: 60px;
  padding: 0 60px;
}

.features__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.features__item {
  width: 180px;
  text-align: center;
  padding: 15px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__item img {
  margin-bottom: 10px;
}

.features__item:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.features__item .h4 {
  font-weight: 600;
  color: #088178;
  width: 100%;
  padding: 9px 8px 6px;
  line-height: 1;
  border-radius: 4px;
}

.features__item .h4--pink {
  background-color: #fddde4;
}

.features__item .h4--green {
  background-color: #cdebbc;
}

.features__item .h4--blue {
  background-color: #cdd4f8;
}

.features__item .h4--violet {
  background-color: #f6dbf6;
}

.features__item .h4--peach {
  background-color: #fff2e5;
}

.features__item .h4--aqua {
  background-color: #d1e8f2;
}

.catalog {
  margin-top: 60px;
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog__title {
  text-align: center;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
  position: relative;
}

.catalog__item:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.catalog__image {
  width: 100%;
  border-radius: 20px;
}

.catalog__item-description {
  margin: 15px 0;
}

.catalog__item-title {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.catalog__manufacturer {
  color: #606063;
  font-size: 12px;
}

.catalog__price {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
  margin-top: 7px;
}

.catalog__stars {
  display: flex;
}

.catalog__star {
  font-size: 12px;
  color: #ffc804;
  padding-right: 3px;
}

.catalog__cart-button i {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  color: #088178;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.banner {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.banner__header {
  color: #ffffff;
  font-size: 24px;
}

.banner__caption {
  color: #ffffff;
  font-size: 50px;
  padding: 10px 0;
}

.banner__caption--red {
  color: #ef3636;
}

.banner__button:hover {
  background-color: #088178;
  color: #ffffff;
}

.promo-banners {
  margin-top: 60px;
  padding: 0 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-banner__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 17px;
}

.promo-banner__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("../images/banner/b17.jpg");
  background-size: cover;
  background-position: top center;
  padding: 30px;
  height: 40vh;
  flex: 0 0 49%;
  min-width: 580px;
}

.promo-banner__item-header {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 5px;
}

.promo-banner__item-caption {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
  padding-bottom: 15px;
}

.promo-banner__item-caption span {
  font-size: 14px;
  font-weight: 500;
}

.promo-banner_button {
  font-size: 13px;
  padding: 11px 18px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.promo-banner__item:hover .promo-banner_button {
  background-color: #088178;
  border: 1px solid #088178;
}

.promo-banner__item--collections {
  background-image: url("../images/banner/b10.jpg");
}

.promo-banner-small__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.promo-banner-small__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("../images/banner/b7.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin: 0 -10px;
  height: 30vh;
  min-width: 30%;
}

.promo-banner-small__item-header {
  color: #ffffff;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 15px;
}

.promo-banner-small__item-caption {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

.promo-banner-small__item--winter {
  background-image: url("../images/banner/b4.jpg");
}

.promo-banner-small__item--t_shirts {
  background-image: url("../images/banner/b18.jpg");
}

.newsletter {
  margin-top: 60px;
  padding: 80px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

.newsletter__header h4 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}

.newsletter__header p {
  font-size: 16px;
  font-weight: 600;
  color: #818ea0;
}

.newsletter__header span {
  color: #ffc804;
}

.newsletter__form {
  display: flex;
  width: 40%;
}

.newsletter__input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 18px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  background-color: #ffffff;
  border-radius: 4px 0 0 4px;
}

.newsletter__submit {
  background-color: #088178 !important;
  color: #ffffff;
  white-space: nowrap;
}

.newsletter__submit[value] {
  font-size: 18px;
}

.footer {
  margin-top: 60px;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.column h4 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}

.column li {
  font-size: 17px;
}

.column li span {
  font-weight: 700;
}

.column a {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222222;
}

.column a:hover {
  color: #088178;
}

.footer_contacts {
  margin-left: 25px;
}

.footer_contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
  margin: 10px 0;
}

footer .logo {
  margin-bottom: 30px;
}

.follow_us {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.follow_us__header {
  margin-bottom: 10px;
}

.follow_us__list {
  display: flex;
  justify-content: start;
  width: 100%;
  column-gap: 10px;
}

.follow_us__item {
  color: #465b52;
  cursor: pointer;
}

.follow_us__item:hover {
  color: #088178;
}

.apps {
  margin-top: 20px;
  margin-right: 25px;
}

.apps__images img {
  border: 1px solid #088178;
  border-radius: 6px;
}

.copyright {
  margin-bottom: 30px;
  margin-left: 25px;
}

@media (max-width: 1290px) {
  .promo-banner__item {
    min-width: 780px;
  }
}
@media (max-width: 799px) {
  .main-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    position: fixed;
    row-gap: 20px;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #mobile {
    display: flex;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  .main-menu-list.active {
    right: 0;
  }
  #close {
    display: block;
    color: #222222;
  }
  .hero-header {
    height: 70vh;
    padding: 0 60px;
    background-position: top 0 right 45%;
  }
  .h1 {
    font-size: 60px;
    line-height: 54px;
  }
  .h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }
  .h3 {
    margin-top: 30px;
  }
  .features {
    padding: 0;
  }
  .features__list {
    justify-content: center;
  }
  .catalog__list {
    justify-content: center;
    column-gap: 15px;
  }
  .banner {
    height: 20vh;
  }
  .banner__header {
    margin-top: 10px;
  }
  .banner__caption {
    font-size: 40px;
  }
  .promo-banner__item {
    height: 30vh;
    min-width: 100%;
  }
  .promo-banner-small__item {
    min-width: 25%;
    padding: 0 10px;
    margin: 0 5px;
  }
  .newsletter {
    flex-direction: column;
  }
  .newsletter__form {
    margin-top: 30px;
    width: 70%;
  }
  .footer_info {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
  }
  .footer_contacts {
    margin-left: 0;
  }
}
@media (max-width: 477px) {
  .h1 {
    font-size: 38px;
  }
  .h2 {
    font-size: 29px;
  }
  .banner {
    height: 40vh;
  }
  .promo-banner-small__list {
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .promo-banner-small__item {
    width: 90%;
  }
  .newsletter__form {
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
  }
  .newsletter__input {
    width: 100%;
    border-radius: 4px;
  }
}
.shop-header {
  background-image: url("../images/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  align-items: center;
}

.shop-header .h1, .shop-header .h4 {
  color: #ffffff;
}

.shop-header .h4 {
  font-size: 20px;
  font-weight: 500;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.pagination a {
  background-color: #088178;
  color: #ffffff;
  padding: 15px 20px;
  font-weight: 600;
  border-radius: 4px;
}

.pagination a i {
  font-size: 16px;
}

@media (max-width: 799px) {
  .shop-header .h4 {
    font-size: 14px;
    padding-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
