<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winstor Shop </title>
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">


</head>
<body>

<header class="header ">
    <section class="top-line">
        <a href="!#"><img src="images/logo.png" class="logo" alt="Winstor Shop Logo"></a>
        <nav class="main-menu">
            <ul class="main-menu-list" id="navbar">
                <div class="close_button" id="close"><i class="fa-solid fa-xmark"></i></div>
                <li class="main-menu-item"><a class="active" href="index.html">Home</a></li>
                <li class="main-menu-item"><a href="shop.html">Shop</a></li>
                <li class="main-menu-item"><a href="blog.html">Blog</a></li>
                <li class="main-menu-item"><a href="about.html">About</a></li>
                <li class="main-menu-item"><a href="contact.html">Contact</a></li>
                <li class="main-menu-item"><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
            <div id="mobile">
                <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                <i id="bar" class="fas fa-outdent"></i>

            </div>
        </nav>
    </section>
    <section class="hero-header section__header section__header--about">
        <h1>
            <span class="h1">#KnowUs</span></h1>
        <p class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </section>
</header>

<main>
    <section class="about">
        <div class="about__img"><img src="images/about/a6.jpg" alt=""></div>
        <div class="about__description">
            <h2 class="h2">Who we are?</h2>
            <p class="h3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis, perferendis
                quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                tempore!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis, perferendis
                quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                tempore!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis, perferendis
                quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                tempore!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis, perferendis
                quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                tempore!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis, perferendis
                quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                tempore!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor iure non officiis, perferendis
                quasi soluta. Dolorum eius, expedita, fuga hic nisi nobis obcaecati odio optio quibusdam quo sit
                tempore!
            </p><br>
            <abbr title=""> Debitis error esse ex expedita minus, nam, optio porro possimus rerum, sunt tenetur vero
                voluptatibus voluptatum. </abbr>
            <br><br>
            <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </marquee>
        </div>
    </section>
    <section class="app">
        <h2 class="h1">Download our <a href="">app</a></h2>
        <div class="video">
            <video autoplay muted loop src="images/about/1.mp4"></video>
        </div>
    </section>
    <section class="features">
        <div class="features__box">
            <ul class="features__list">
                <li class="features__item">
                    <img src="./images/features/f1.png" alt="Free shipping">
                    <h4 class="h4 h4--pink">Free shipping</h4></li>
                <li class="features__item">
                    <img src="./images/features/f2.png" alt="Online order">
                    <h4 class="h4 h4--green">Online order</h4></li>
                <li class="features__item">
                    <img src="./images/features/f3.png" alt="Save money">
                    <h4 class="h4 h4--blue">Save money</h4></li>
                <li class="features__item">
                    <img src="./images/features/f4.png" alt="Promotions">
                    <h4 class="h4 h4--violet">Promotions</h4></li>
                <li class="features__item">
                    <img src="./images/features/f5.png" alt="Happy Sell">
                    <h4 class="h4 h4--peach">Happy Sell</h4></li>
                <li class="features__item">
                    <img src="./images/features/f1.png" alt="F24/7 Support">
                    <h4 class="h4 h4--aqua">F24/7 Support</h4></li>


            </ul>
        </div>
    </section>
    <section class="newsletter">
        <div class="newsletter__header">
            <h4>Sign Up For Newletters</h4>
            <p>Get E-mail updates about our lastest shop and <span>special offers.</span></p>
        </div>
        <form action="" class="newsletter__form">
            <input type="text" class="newsletter__input" placeholder="Your email address">
            <input type="submit" class="newsletter__submit button" value="Sign up!">
        </form>
    </section>
</main>

<footer class="footer">
    <section class="footer_info">
        <div class="footer_contacts column">
            <img class="logo" src="./images/logo.png" alt="Cara Dress Market">
            <h4 class="footer_contacts__header">Contact</h4>
            <ul class="footer_contacts__list">
                <li class="footer_contacts__item"><span>Address:</span> 562 Wellington Road.Stree 32, San Francisco</li>
                <li class="footer_contacts__item"><span>Phone</span>: +01 2222 365/(+91)01 2345 9789</li>
                <li class="footer_contacts__item"><span>Hours:</span> 10:00 - 18:00. Mon - Sat</li>
            </ul>
            <section class="follow_us">
                <h4 class="follow_us__header">Follow Us</h4>
                <ul class="follow_us__list">
                    <li class="follow_us__item"><i class="fab fa-facebook-f"></i></li>
                    <li class="follow_us__item"><i class="fab fa-twitter"></i></li>
                    <li class="follow_us__item"><i class="fab fa-instagram"></i></li>
                    <li class="follow_us__item"><i class="fab fa-pinterest"></i></li>
                    <li class="follow_us__item"><i class="fab fa-youtube"></i></li>
                </ul>
            </section>
        </div>
        <div class="footer_about column">
            <h4>About</h4>
            <ul class="footer_contacts__list">
                <li><a href="">About us</a></li>
                <li><a href="">Delivery information</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms and conditions</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>

        </div>
        <div class="my_account column">
            <h4>My account</h4>
            <ul class="footer_contacts__list">
                <li><a href="">Sign in</a></li>
                <li><a href="">Viev Cart</a></li>
                <li><a href="">My wishlist</a></li>
                <li><a href="">Track My Order</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </div>
        <div class="apps column">
            <h4>Install app</h4>
            <div class="footer_contacts__list">
                <p>From App Store or GooglePlay</p>
                <div class="apps__images">
                    <img class="apps__image" src="./images/pay/app.jpg" alt="AppStore">
                    <img class="apps__image" src="./images/pay/play.jpg" alt="GooglePlay">
                </div>
                <p>Secure Payment Gataway</p>
                <img src="./images/pay/pay.png" alt="Mastercard/Visa">
            </div>
        </div>
    </section>
    <div class="copyright">Created by Flomasta</div>
</footer>
<script src="js/main.js"></script>
</body>
</html>
