<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winstor Shop </title>
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">


</head>
<body>

<header class="header ">
    <section class="top-line">
        <a href="!#"><img src="images/logo.png" class="logo" alt="Winstor Shop Logo"></a>
        <nav class="main-menu">
            <ul class="main-menu-list" id="navbar">
                <div class="close_button" id="close"><i class="fa-solid fa-xmark"></i></div>
                <li class="main-menu-item"><a class="active" href="index.html">Home</a></li>
                <li class="main-menu-item"><a href="shop.html">Shop</a></li>
                <li class="main-menu-item"><a href="blog.html">Blog</a></li>
                <li class="main-menu-item"><a href="about.html">About</a></li>
                <li class="main-menu-item"><a href="contact.html">Contact</a></li>
                <li class="main-menu-item"><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
            <div id="mobile">
                <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                <i id="bar" class="fas fa-outdent"></i>

            </div>
        </nav>
    </section>
    <section class="hero-header section__header section__header--about">
        <h1>
            <span class="h1">#let's talk</span></h1>
        <p class="h4">LEAVE A MESSAGE. We love to hear from you!</p>
    </section>
</header>

<main>
    <section class="cart">
        <table>
            <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href=""><i class="fa-regular fa-circle-xmark"></i></a></td>
                <td><img src="images/products/f1.jpg" alt=""></td>
                <td>Cartoon Austranaut t-shirt</td>
                <td>$118.50</td>
                <td><input type="number" name="" id="" value="1"></td>
                <td>$118.50</td>
            </tr>
            <tr>
                <td><a href=""><i class="fa-regular fa-circle-xmark"></i></a></td>
                <td><img src="images/products/f2.jpg" alt=""></td>
                <td>Cartoon Austranaut t-shirt</td>
                <td>$118.50</td>
                <td><input type="number" name="" id="" value="1"></td>
                <td>$118.50</td>
            </tr>
            <tr>
                <td><a href=""><i class="fa-regular fa-circle-xmark"></i></a></td>
                <td><img src="images/products/f3.jpg" alt=""></td>
                <td>Cartoon Austranaut t-shirt</td>
                <td>$118.50</td>
                <td><input type="number" name="" id="" value="1"></td>
                <td>$118.50</td>
            </tr>

            </tbody>
        </table>
    </section>
    <section class="cart-add">
        <div class="coupon">
            <h3>Apply coupon</h3>
            <form action="">
                <input class="coupon__value" type="text" name="" id="" placeholder="Your coupon">
                <input class="button coupon__button" type="button" name="" id="" value="Submit">
            </form>
        </div>
        <div class="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Card Subtotal</td>
                    <td>$335</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>$335</strong></td>
                </tr>
            </table>
            <a class="button subtotal__button" href="">Proceed to checkout</a>
        </div>
    </section>

</main>

<footer class="footer">
    <section class="footer_info">
        <div class="footer_contacts column">
            <img class="logo" src="./images/logo.png" alt="Cara Dress Market">
            <h4 class="footer_contacts__header">Contact</h4>
            <ul class="footer_contacts__list">
                <li class="footer_contacts__item"><span>Address:</span> 562 Wellington Road.Stree 32, San Francisco</li>
                <li class="footer_contacts__item"><span>Phone</span>: +01 2222 365/(+91)01 2345 9789</li>
                <li class="footer_contacts__item"><span>Hours:</span> 10:00 - 18:00. Mon - Sat</li>
            </ul>
            <section class="follow_us">
                <h4 class="follow_us__header">Follow Us</h4>
                <ul class="follow_us__list">
                    <li class="follow_us__item"><i class="fab fa-facebook-f"></i></li>
                    <li class="follow_us__item"><i class="fab fa-twitter"></i></li>
                    <li class="follow_us__item"><i class="fab fa-instagram"></i></li>
                    <li class="follow_us__item"><i class="fab fa-pinterest"></i></li>
                    <li class="follow_us__item"><i class="fab fa-youtube"></i></li>
                </ul>
            </section>
        </div>
        <div class="footer_about column">
            <h4>About</h4>
            <ul class="footer_contacts__list">
                <li><a href="">About us</a></li>
                <li><a href="">Delivery information</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms and conditions</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>

        </div>
        <div class="my_account column">
            <h4>My account</h4>
            <ul class="footer_contacts__list">
                <li><a href="">Sign in</a></li>
                <li><a href="">Viev Cart</a></li>
                <li><a href="">My wishlist</a></li>
                <li><a href="">Track My Order</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </div>
        <div class="apps column">
            <h4>Install app</h4>
            <div class="footer_contacts__list">
                <p>From App Store or GooglePlay</p>
                <div class="apps__images">
                    <img class="apps__image" src="./images/pay/app.jpg" alt="AppStore">
                    <img class="apps__image" src="./images/pay/play.jpg" alt="GooglePlay">
                </div>
                <p>Secure Payment Gataway</p>
                <img src="./images/pay/pay.png" alt="Mastercard/Visa">
            </div>
        </div>
    </section>
    <div class="copyright">Created by Flomasta</div>
</footer>
<script src="js/main.js"></script>
</body>
</html>
