<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winstor Shop </title>
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">


</head>
<body>

<header class="header">
    <section class="top-line">
        <a href="!#"><img src="images/logo.png" class="logo" alt="Winstor Shop Logo"></a>
        <nav class="main-menu">
            <ul class="main-menu-list">
                <li class="main-menu-item"><a class="active" href="index.html">Home</a></li>
                <li class="main-menu-item"><a href="shop.html">Shop</a></li>
                <li class="main-menu-item"><a href="blog.html">Blog</a></li>
                <li class="main-menu-item"><a href="about.html">About</a></li>
                <li class="main-menu-item"><a href="contact.html">Contact</a></li>
                <li class="main-menu-item"><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </nav>
    </section>

    <section class="hero-header">
        <h1><span class="h3">Trade-in-offer</span><br>
            <span class="h2">Super value deals</span><br><span class="h1">On all products</span></h1>
        <p class="h4">Save more with coupons & up to 70% off!</p>
        <button class="hero__button">Shop Now!</button>
    </section>
</header>

<main>
    <section class="features">
        <div class="features__box">
            <ul class="features__list">
                <li class="features__item">
                    <img src="./images/features/f1.png" alt="Free shipping">
                    <h4 class="h4 h4--pink">Free shipping</h4></li>
                <li class="features__item">
                    <img src="./images/features/f2.png" alt="Online order">
                    <h4 class="h4 h4--green">Online order</h4></li>
                <li class="features__item">
                    <img src="./images/features/f3.png" alt="Save money">
                    <h4 class="h4 h4--blue">Save money</h4></li>
                <li class="features__item">
                    <img src="./images/features/f4.png" alt="Promotions">
                    <h4 class="h4 h4--violet">Promotions</h4></li>
                <li class="features__item">
                    <img src="./images/features/f5.png" alt="Happy Sell">
                    <h4 class="h4 h4--peach">Happy Sell</h4></li>
                <li class="features__item">
                    <img src="./images/features/f1.png" alt="F24/7 Support">
                    <h4 class="h4 h4--aqua">F24/7 Support</h4></li>


            </ul>
        </div>
    </section>
    <section class="catalog">
        <h2 class="catalog__title h2">Featured Products</h2>
        <p class="catalog__caption">Summer Collection New Moder Design</p>
        <ul class="catalog__list">
            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f2.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>


            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f3.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f4.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a>


            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f5.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f1.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f6.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f7.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="catalog__item">
                <img class="catalog__image" src="./images/products/f8.jpg" alt="Adidas">
                <div class="catalog__item-description">
                    <span class="catalog__manufacturer">adidas</span><br>
                    <h4 class="catalog__item-title h4">Cartoon Astronaut T-Shirts</h4>
                    <ul class="catalog__stars">
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                        <li class="catalog__star"><i class="fas fa-star"></i></li>
                    </ul>
                    <span class="catalog__price">78$</span>
                </div>
                <a class="catalog__cart-button" href=""><i class="fa-solid fa-cart-shopping"></i></a></li>

        </ul>

    </section>
    <section class="banner">
        <h4 class="banner__header">Repair services</h4><br>
        <span class="banner__caption h1">Up to <span
                class="banner__caption--red">70% off</span> - All t-shirts & Accessories</span>
        <a class="button banner__button" href="">Explore more</a>
    </section>
</main>

<script src="js/main.js"></script>
</body>
</html>
